.stats-calendar-container{
    float: left;
}

.stats-calendar-container .xdsoft_datepicker{
    width: 600px;
}

.stats-calendar-container .xdsoft_calendar table tbody tr td {
    width: 80px;
    height: 50px;
    text-align: center;
}

#stats-calendar-day {
    float: left;
}

#stats-calendar-day tr:first-child td{
    font-weight: bold;
}
#stats-calendar-day td{
    padding: 10px;
}